
<section class="panel panel-default">
  <header class="panel-heading">
	  <h1>{{title}}</h1>
  </header>
  <article class="panel-body">
    {{{article}}}
  </article>
  <footer class="panel-footer">
    <strong>Last Modified:</strong> {{revised}}
  </footer>
</section>