
<section class="panel panel-default">
  <div class="jumbotron">
    <h1>Developer Guidance</h1>
    <h3>Get the latest developer guidance from USA Digital</h3>
  </div>
  <div class="panel-body">
    <h2>Latest Updates</h2>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Article Title</h3>
            <h4>October 5th, 2015</h4>
            <p>This is where an article summary will go so that people can see our updates.</p>
            <p><a href="#" class="btn btn-primary" role="button">View Guideline</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Article Title</h3>
            <h4>October 5th, 2015</h4>
            <p>This is where an article summary will go so that people can see our updates.</p>
            <p><a href="#" class="btn btn-primary" role="button">View Guideline</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Article Title</h3>
            <h4>October 5th, 2015</h4>
            <p>This is where an article summary will go so that people can see our updates.</p>
            <p><a href="#" class="btn btn-primary" role="button">View Guideline</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>